/*#########################Colors####################
	green: #b4c828;
	darkgray: #2f3e3f;
	middlegray:#41505a;
	lightgray:#828c8c;

#########################Base Style####################*/
body {
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	background: url('../images/grunge_wall.png');
}
h2 {
	font-weight: 400;
	font-size: 30px;
	margin-top: 100px;
	color:#2f3e3f;
}
h3{
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: 100px;
	padding-top: 65px;
	color:white;
}
.circle{
  background: url('../Images/bg_circle.png')no-repeat;
  display: inline-block;
  width: 220px;
  height: 48px;
  padding-top: 13px;
}

/*#########################Header####################*/

.top_header h1 a{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 545px;
	margin-left: 0;
	float: left;
	text-decoration: none;
	text-align: left;
	color:#828c8c;
}
.top_header a {
	margin-top: 8px;
	margin-bottom: 20px;
	margin-left: 34px;
	float: left;
	text-decoration: none;
	color:#828c8c;
	text-align: right;	
}
.top_header{
  background-image: url("../Images/header_bg.png");
}
.shopping_cart {
	display: block;
	height: 50px;
	width: 50px;
	background: url('../images/sprite.png') no-repeat;
	margin-left: 100px;
}
.shopping_cart a{
	float: right;
}
.top_header .shopping_cart {
	background-position: -300px -0px;
}
.top_header .shopping_cart:hover {
	background-position: -300px -46px;
}	
/*#########################login####################*/
.login ul
{
	padding-top: 25px
}

.login ul a
{
	display:block;
	color:white;
	font-weight:300;
	font-size:16px;
	margin-top:32px;
}

.login ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}


.login ul ul
{
	display:none;
	position:absolute;
	top:100%;
	background:#2f3e3f;
	opacity: 0.9;
	border-left: 1px solid white ;
	border-bottom: 1px solid white;
	border-right:1px solid white;
	border-top:1px solid white;
	border-radius: 10%;
}

.login ul ul li
{
	float:none;
	width:155px;
	color:white;
	text-align: center;
}



.login ul li:hover > ul
{
	display:block
}
.button_login{
	background-color:#b4c828;
	width: 130px;
	height: 25px;
	color:white;
	margin-top: 15px;
	font-size:16px;
	margin-bottom: 15px;
}
/*#########################Header Nav####################*/
header nav ul li {
	padding-right: 30px;
	float:left;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
header nav a{
	text-decoration: none;
	font-size: 20px;
	color:#2f3e3f;
}
header nav a:hover{
	color:#b4c828; 
}

header nav ul {
  margin: auto;
  width: 532px;
}
.nav_bg {
	background-color: white;
}
/*#########################Shop_Prev####################*/
.shop_prev ul li{
	width: 33%;
	float: right;
	margin-top: 20px;
	position: relative;
	padding:0;
}

.shop_prev ul li:last-child{
margin-right: 0px;
}
.shop_prev ul li h4 {
	position: absolute;
	bottom: 0; left:0; right:0;
	color:	white;
	height: 50px;
	background-image: url("../Images/H4_bg_op.png");
	width:313px;
	text-align: center;
	padding-top: 60px;
	font-size: 20px;     
}

/*#########################process####################*/
.process {
	background-color:#2f3e3f; 
}
.process img{
	padding-bottom: 50px;
	padding-top: 50px;
}

/*#########################4 cols####################*/
.sale ul li {
	float: right;
	width: 25%;
	position: relative;
	margin-top: 20px;	
}

.sale ul li h4 {
	  position: absolute;
  bottom: 0;
  left: -41px;
  color: white;
  height: 63px;
  background-image: url("../Images/H4_bg_2.png");
  width: 271px;
  text-align: center;
  padding-top: 42px;
  font-size: 20px;
  padding-left: 16px;
}
.theaser ul li {
	float: right;
	width: 25%;
	position: relative;
	margin-top: 20px;		
}
.theaser ul li h4 {
	position: absolute;
  bottom: 0;
  left: -41px;
  color: white;
  height: 63px;
  background-image: url("../Images/H4_bg_2.png");
  width: 271px;
  text-align: center;
  padding-top: 42px;
  font-size: 20px;
  padding-left: 16px;
}
/*#########################about####################*/

.col_1{
	width:47%;
	float: left;
	padding-left: 5px;
	padding-bottom: 20px;
}
.col_2{
	width:47%;
	float: left;
	padding-left: 5px;
	padding-bottom: 20px;
}

/*#########################footer####################*/
footer{
	background-image: url('../Images/footer_bg.png');
	height: 350px;
	margin-top: 50px;
	color: #828c8c;
}
footer nav ul li {
	float: left;
	font-size: 18px;
	margin-top: 230px;
	margin-left: 10px;

}
footer nav ul li a{
	color:white;
}
footer nav ul{
	margin-left: 640px;
}
footer img{
	margin-top: 200px;
}
.footer_logo{
	float: left;
	padding-bottom: 5px;
}
footer nav{
	border-bottom: 1px solid #828c8c;
}
footer a{
	text-decoration: none;
	color: #828c8c;
}
footer a:hover{
	color:#b4c828;
}
footer .sozialicon{
	float: right;
}
footer .sozialicon li {
float:left;
margin-left:5px;

}
.sozialicon a
{
	background: url('../images/sprite.png');
	display: block;
	height: 50px;
	width: 50px;
}
.sozialicon .icon-facebook { 
	background-position: -50px 0; 
}
.sozialicon .icon-twitter { 
	background-position: 0px 0; 
}
.sozialicon .icon-pinterest { 
	background-position: -100px 0; 
}
.sozialicon .icon-facebook:hover { 
	background-position: -52px -50px; 
}
.sozialicon .icon-twitter:hover { 
	background-position: -2px -50px; 
}
.sozialicon .icon-pinterest:hover { 
	background-position: -100px -51px; 
}
/*##############################checkout_ph1##################################*/
.checkout_header ul li{
	float:left;
}
.checkout_header ul h5{
margin-top: 100px;	
}
.checkout_header li:first-child{
	margin-right:160px;
	padding-left: 50px;
}

.checkout_header li:last-child{
	margin-left:188px;
}
h5 {
	font-weight: 300;
	font-size: 18px;
	margin-top: 10px;
}
.breadcrumps ul li {
	float: right;
	padding-right: 220px;
	margin-top:50px;
	margin-bottom:50px;
}
 
.dot{
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color: #b4c828;
}
.bread_line1{
  background-color: #2f3e3f;
  height: 2px;
  width: 225px;
  margin-left: 227px;
  margin-top: -67px;
}
.bread_line2{
  background-color: #2f3e3f;
  height: 2px;
  width: 225px;
  margin-left: 481px;
  margin-top: -3px;
}
.checkout_wrapper{
	width: 300px;
	font-size: 18px;
	margin-right: 0px;
	float:left;
	margin-bottom: 15px;

}

button {
	
	background-color:#b4c828;
	width: 185px;
	height: 30px;
	color:white;
	margin-top: 10px;
	font-size:18px;
}

input {
	margin-top: 10px;
	margin-bottom: 10px;
}
.register form{
	display: none
}
.login form{
	display:none;
}

.shoppingcart_form .btn {
	background-position: -140px -12px;
}
.shoppingcart_form a{
	background: url('../images/sprite.png');
	display: block;
	height: 50px;
	width: 50px; 
}

.shoppingcart_form ul li{
	float:left;
	margin-top:70px;
	margin-right: 60px;

	display:block;
}
.shoppingcart_form ul li:first-child{
	margin-top: 20px;
	margin-right: 27px;
}
.shoppingcart_form ul li:last-child{
	margin-right: 10px;
}
.shop_wrapper{
	border-bottom: 1px solid #2f3e3f;
	width:590px;
	float:right;

} 
.shop_bill {
  float: right;
  min-width: 25%;
  margin-right: 19px;
  margin-top: 10px;
  text-align: right;
}
.shop_bill p{
	line-height: 30px;

}
.shop_bill .button_sub{
	margin-left: 29px;
}
/*##############################checkout_ph3##################################*/
.payment{
	width: 280px;
	font-size: 18px;
	margin-right: 0px;
	float:left;
	margin-top: 5px;
	margin-right: 20px;

}
.payment p{
font-weight: 400;
font-size: 16px;
}
h6 {transform: rotate(-90deg);
	width: 30px;
	float:left;
	margin-top: 315px;
	font-size: 70px;
	margin-right: 40px;
	color:#828c8c;
}
input[type="radio"]{
	background-color: red;
}


/*##############################Helper##################################*/



.wrapper{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}