/*#########################Colors####################
	green: #b4c828;
	darkgray: #2f3e3f;
	middlegray:#41505a;
	lightgray:#828c8c;

#########################Base Style####################*/
body {
	font-family: 'Exo 2', sans-serif;
	font-weight: 400;
	background: url('../images/grunge_wall.png'); 
}
h2 {
	font-weight: 400;
	font-size: 30px;
	margin-top: 100px;
	color:#2f3e3f;
}
h3{
	font-weight: 400;
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: 100px;
	padding-top: 65px;
	color:white;
}

/*#########################Header####################*/

.top_header h1 a{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 545px;
	float: left;
	text-decoration: none;
	text-align: left;
	color:#828c8c;
}
.top_header a {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
	float: left;
	text-decoration: none;
	color:#828c8c;
	text-align: right;	
}
.top_header{
	background-color:#2f3e3f;
}
.shopping_cart {
	display: block;
	height: 50px;
	width: 50px;
	background: url('../images/sprite.png') no-repeat;
	float: right;
}
.top_header .shopping_cart {
	background-position: -300px -0px;
}
.top_header .shopping_cart:hover {
	background-position: -300px -46px;
}	
/*#########################login####################*/
.login ul
{
	padding-top: 25px
}

.login ul a
{
	display:block;
	color:white;
	font-weight:300;
	font-size:18px;
}

.login ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}


.login ul ul
{
	display:none;
	position:absolute;
	top:100%;
	background:#2f3e3f;
	opacity: 0.9;
	border-left: 1px solid white ;
	border-bottom: 1px solid white;
	border-right:1px solid white;
	border-top:1px solid white;
	border-radius: 10%;
}

.login ul ul li
{
	float:none;
	width:155px;
	color:white;
	text-align: center;
}



.login ul li:hover > ul
{
	display:block
}
.button_login{
	background-color:#b4c828;
	width: 130px;
	height: 25px;
	color:white;
	margin-top: 15px;
	font-size:16px;
	margin-bottom: 15px;
}
/*#########################Header Nav####################*/
header nav ul li {
	padding-right: 30px;
	float:left;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
header nav a{
	text-decoration: none;
	font-size: 30px;
	color:#2f3e3f;
}
header nav a:hover{
	color:#b4c828; 
}
header nav ul{
	margin-left:170px;
}
/*#########################Shop_Prev####################*/
.shop_prev ul li{
	width: 33%;
	float: right;
	margin-top: 70px;
	position: relative;
}
.shop_prev ul li h4 {
	position: absolute;
	bottom: 0; left:0; right:0;
	color:	white;
	height: 30px;
	background-color:#2f3e3f;
	width:275px;
	text-align: center;
	border-radius-top: 30%;
	padding-top:5px;
	font-size: 20px;     
}

/*#########################process####################*/
.process {
	background-color:#2f3e3f; 
}
.process img{
	padding-bottom: 50px;
	padding-top: 50px;
}

/*#########################4 cols####################*/
.sale ul li {
	float: right;
	width: 25%;
	position: relative;
	margin-top: 20px;	
}

.sale ul li h4 {
	position: absolute;
	bottom: 0; left:0; right:0;
	color:	white;
	height: 30px;
	background-color:#b4c828;
	width:230px;
	text-align: center;
	border-radius-top: 30%;
	padding-top:5px;
	font-size: 20px;   
}
.theaser ul li {
	float: right;
	width: 25%;
	position: relative;
	margin-top: 20px;		
}
.theaser ul li h4 {
	position: absolute;
	bottom: 0; left:0; right:0;
	color:	white;
	height: 30px;
	background-color:#b4c828;
	width:230px;
	text-align: center;
	border-radius-top: 30%;
	padding-top:5px;
	font-size: 20px;     
}
/*#########################footer####################*/
footer{
	background-image: url('../Images/footer_bg.png');
	height: 350px;
	margin-top: 50px;
	color: #828c8c;
}
footer nav ul li {
	float: left;
	font-size: 18px;
	margin-top: 230px;
	margin-left: 10px;

}
footer nav ul li a{
	color:white;
}
footer nav ul{
	margin-left: 640px;
}
footer img{
	margin-top: 200px;
}
.footer_logo{
	float: left;
	padding-bottom: 5px;
}
footer nav{
	border-bottom: 1px solid #828c8c;
}
footer a{
	text-decoration: none;
	color: #828c8c;
}
footer a:hover{
	color:#b4c828;
}
footer .sozialicon{
	float: right;
}
footer .sozialicon li {
float:left;
margin-left:5px;

}
.sozialicon a
{
	background: url('../images/sprite.png');
	display: block;
	height: 50px;
	width: 50px;
}
.sozialicon .icon-facebook { 
	background-position: -50px 0; 
}
.sozialicon .icon-twitter { 
	background-position: 0px 0; 
}
.sozialicon .icon-pinterest { 
	background-position: -100px 0; 
}
.sozialicon .icon-facebook:hover { 
	background-position: -52px -50px; 
}
.sozialicon .icon-twitter:hover { 
	background-position: -2px -50px; 
}
.sozialicon .icon-pinterest:hover { 
	background-position: -100px -51px; 
}
/*##############################checkout_ph1##################################*/
.checkout_header ul li{
	float:left;
}
.checkout_header ul h5{
margin-top: 100px;	
}
.checkout_header li:first-child{
	margin-right:160px;
	padding-left: 50px;
}

.checkout_header li:last-child{
	margin-left:188px;
}
h5 {
	font-weight: 300;
	font-size: 18px;
	margin-top: 10px;
}
.breadcrumps ul li {
	float: right;
	padding-right: 220px;
	margin-top:50px;
	margin-bottom:50px;
}
 
.dot{
	display:inline-block;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	background-color: #b4c828;
}

.checkout_wrapper{
	width: 320px;
	font-size: 18px;
	margin-right: 0px;
	float:left;

}
button {
	
	background-color:#b4c828;
	width: 185px;
	height: 30px;
	color:white;
	margin-top: 10px;
	font-size:18px;
}

input {
	margin-top: 10px;
	margin-bottom: 10px;
}

.shoppingcart_form ul li{
	float:left;
	margin-top:70px;
	margin-right: 10px;
}
.shoppingcart_form ul li:first-child{
	margin-top: 20px;
}
.shop_wrapper{
	border-bottom: 1px solid #2f3e3f;
	width:590px;
	float:right;
} 
.shop_bill {
	float: right;
	margin-top: 50px;
}
.shop_bill p{
	line-height: 30px;

}

/*##############################Helper##################################*/



.wrapper{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}